body{
	background-image: url("../images/background3.jpg");
	background-repeat:no-repeat;
	position:absolute;
	width:1200px;
}

header{
	color:black;
	text-align: center;
}

nav{
	text-align: center;
	padding:5px;
	clear:both;
}

nav ul {
	font-size: 20px;
	list-style-type: none;
	margin:0;
	padding:0;
	overflow:hidden;
}

nav li{
	display:inline;
}

a:link{
	color:black;
	text-decoration: none;
}

a:visited{
	color:black;
	text-decoration: none;

}

a:hover{
	text-decoration: underline;
}

section{
	margin:10px 30px 10px 30px;
	border-style: inset;
	border-color: #D0D6D9;
	border-radius: 5px;
	padding:10px 10px 10px 30px;
	width:1150px;
	height:1200px; 
}

section h1{
	text-align: center;
}

.subtitle{
	color:grey;
	font-size: 14px;
}

.share-buttons{
	padding: 5px;
	display: inline;
}

form{
	background-color: #D0D6D9;
	margin:30px 30px 10px 30px;
	border-radius: 5px;
	padding:10px;
	width:550px;
}

footer{
	padding: 0px 0px 0px 700px;
}